<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YOMERGENCY</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='css/yomergency.css' rel='stylesheet'/>
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="css/component.css" rel="stylesheet" type="text/css" />
    <script src="js/modernizr.custom.js"></script>
  </head>
  <body>
    
    <div class = "container">

     <div class="title">
      <h1><span id="yo">Yo</span>
        <span id="mergency">MERGENCY</span></h1>
    </div>

    <hr>


    <div class ="indent">
    <h2>SEND AN ALERT</h2>

        <form action="/sendyo" method="POST" class="indent">
            <p><t>CATEGORY  <select name="category">
  <option value="prowler">PROWLER</option>
  <option value="fire">FIRE</option>
  <option value="flood">FLOOD</option>
  <option value="blizzard">BLIZZARD</option>
  <option value="earthquake">EARTHQUAKE</option>
  <option value="warning">WARNING</option>
    </select> <br>

            <t>LOCATION <input type="text" value="" name="location" class="validate[required,custom[email]] feedback-input" required> <br>

            <t>MESSAGE <input type="text" value="" name="message" class="validate[required,custom[email]] feedback-input" required> <br>

            <input type="submit" value="SEND" name="subscribe" id="send">
            </p>
        </form>
    </div>


    <div class ="indent">
    <h2>RECENT ALERTS</h2>
      
    <div class = "alert_box">

      <p class = "indent">
        <% for(var i = 0; i < yos.length; i++) { %>
        <% var yo = yos[i] %>
          <t><span class="<%= yo.category %>">•  </span><%= yo.category.toUpperCase() %> IN <%= yo.location %> AT <%= yo.createdAt %>: <%= yo.message %><br>
        <% } %> 
      </p>

    </div>
    </div>
  </div>

<script src="js/classie.js"></script>
    <script src="js/stepsForm.js"></script>
    <script>
      var theForm = document.getElementById( 'theForm' );

      new stepsForm( theForm, {
        onSubmit : function( form ) {

          classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

          var messageEl = theForm.querySelector( '.final-message' );
          messageEl.innerHTML = 'Sent!';
          classie.addClass( messageEl, 'show' );
        }
      } );
    </script>
  </body>
</html>